# Default ignored files
/.idea/*
/venv/*
/private_key.pem
/public_key.pem
/LucianChat.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
